body {
    background-color: rgb(131, 131, 131);
}
.container {
    border: double 5px;
    border-radius: 20px;
    width: 70% ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: rgb(214, 213, 213);
}
h1 {
    color: rgb(74, 82, 156);
}
h2 {
    color : rgb(187, 89, 104);
}
h4 {
    margin: 5px auto;
}
.lengthbox {
    font-size: 20px;
}
.lengthbox input {
    text-align: center;
    word-spacing: 5px;
    color: white;
    background-color: black;
}
.textbox textarea {
    border-radius: 20px;
    border: 4px double black;
    width: 85% ;
    text-align: center;
}
#submit {
    background-color: rgb(187, 89, 104);
    color: white;
    font-weight: 100;
    padding: 10px 30px;
    border-radius: 20px;
}
#board {
    background-color: rgb(74, 82, 156);
    color: white;
    font-weight: 100;
    padding: 10px 30px;
    border-radius: 20px;
}
@media screen and (max-width:768px ) {
    .containe {
        width: 90%;
    }

}
@media screen and (max-width: 576px) {
    .containe {
        width: 90%;
    }
}
